In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('listings.csv')

In [3]:
df['coordinates'] = df['latitude'].astype(str) + ',' + df['longitude'].astype(str)

In [5]:
print(df)

                       id                                              name  \
0                    3781                         HARBORSIDE-Walk to subway
1                    5506    ** Fort Hill Inn Private! Minutes to center!**
2                    6695     Fort Hill Inn *Sunny* 1 bedroom, condo duplex
3                    8789               Curved Glass Studio/1bd facing Park
4                   10811  Back Bay Apt Studio-3 blocks to Pru center & "T"
...                   ...                                               ...
4320  1181310640039457019        The Chester: Modern Luxury, Historic Charm
4321  1181310920532325010         The Chester:  Urban Luxury, Modern Design
4322  1181311064422167794     The Chester: Modern, Cool, Heart Of South End
4323  1182535715185750063                                Luxury one bedroom
4324  1183366210963015944       Large 4 Bedroom apartments, 2RD FL/Brighton

        host_id host_name  neighbourhood_group neighbourhood   latitude  \
0          4804     Frank                  NaN   East Boston  42.364130
1          8229     Terry                  NaN       Roxbury  42.328440
2          8229     Terry                  NaN       Roxbury  42.328020
3         26988      Anne                  NaN   Beacon Hill  42.358670
4         38997  Michelle                  NaN      Back Bay  42.351730
...         ...       ...                  ...           ...        ...
4320   43613912      Drew                  NaN       Roxbury  42.339042
4321   43613912      Drew                  NaN       Roxbury  42.339042
4322   43613912      Drew                  NaN       Roxbury  42.339042
4323   28929296      Seif                  NaN     South End  42.345838
4324  426546484      Mike                  NaN      Brighton  42.343210

      longitude        room_type  price  minimum_nights  number_of_reviews  \
0    -71.029910  Entire home/apt  125.0              29                 25
1    -71.095810  Entire home/apt  139.0               3                123
2    -71.093870  Entire home/apt  179.0               3                128
3    -71.063070  Entire home/apt   92.0              91                 29
4    -71.086850  Entire home/apt  130.0              91                  9
...         ...              ...    ...             ...                ...
4320 -71.080357  Entire home/apt  169.0               2                  0
4321 -71.080357  Entire home/apt  217.0               2                  0
4322 -71.080357  Entire home/apt  213.0               2                  0
4323 -71.064972  Entire home/apt  250.0               1                  0
4324 -71.146980  Entire home/apt  350.0               1                  0

     last_review  reviews_per_month  calculated_host_listings_count  \
0     2023-12-11               0.23                               1
1     2024-04-24               0.66                              10
2     2024-04-16               0.71                              10
3     2024-05-15               0.24                               8
4     2019-07-22               0.09                              13
...          ...                ...                             ...
4320         NaN                NaN                              10
4321         NaN                NaN                              10
4322         NaN                NaN                              10
4323         NaN                NaN                               6
4324         NaN                NaN                               1

      availability_365  number_of_reviews_ltm     license  \
0                  317                      1         NaN
1                  112                      5  STR-490093
2                   79                      4  STR-491702
3                  101                      3         NaN
4                  364                      0         NaN
...                ...                    ...         ...
4320                32                      0  STR-565048
4321               159                      0  STR-565049
4322               158                      0  STR-565053
4323                46                      0  STR-359412
4324               365                      0  STR-460830

                               coordinates
0                       42.36413,-71.02991
1                       42.32844,-71.09581
2                       42.32802,-71.09387
3                       42.35867,-71.06307
4                       42.35173,-71.08685
...                                    ...
4320                 42.339042,-71.0803574
4321                 42.339042,-71.0803574
4322                 42.339042,-71.0803574
4323  42.34583822057535,-71.06497242755782
4324                    42.34321,-71.14698

[4325 rows x 19 columns]

In [6]:
columns_to_drop = ['latitude', 'longitude', 'host_id', 'host_name', 'neighbourhood_group', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'number_of_reviews_ltm', 'license']

In [7]:
df.drop(columns=columns_to_drop, inplace=True)

In [8]:
print(df)

                       id                                              name  \
0                    3781                         HARBORSIDE-Walk to subway
1                    5506    ** Fort Hill Inn Private! Minutes to center!**
2                    6695     Fort Hill Inn *Sunny* 1 bedroom, condo duplex
3                    8789               Curved Glass Studio/1bd facing Park
4                   10811  Back Bay Apt Studio-3 blocks to Pru center & "T"
...                   ...                                               ...
4320  1181310640039457019        The Chester: Modern Luxury, Historic Charm
4321  1181310920532325010         The Chester:  Urban Luxury, Modern Design
4322  1181311064422167794     The Chester: Modern, Cool, Heart Of South End
4323  1182535715185750063                                Luxury one bedroom
4324  1183366210963015944       Large 4 Bedroom apartments, 2RD FL/Brighton

     neighbourhood        room_type  price  minimum_nights  number_of_reviews  \
0      East Boston  Entire home/apt  125.0              29                 25
1          Roxbury  Entire home/apt  139.0               3                123
2          Roxbury  Entire home/apt  179.0               3                128
3      Beacon Hill  Entire home/apt   92.0              91                 29
4         Back Bay  Entire home/apt  130.0              91                  9
...            ...              ...    ...             ...                ...
4320       Roxbury  Entire home/apt  169.0               2                  0
4321       Roxbury  Entire home/apt  217.0               2                  0
4322       Roxbury  Entire home/apt  213.0               2                  0
4323     South End  Entire home/apt  250.0               1                  0
4324      Brighton  Entire home/apt  350.0               1                  0

      availability_365                           coordinates
0                  317                    42.36413,-71.02991
1                  112                    42.32844,-71.09581
2                   79                    42.32802,-71.09387
3                  101                    42.35867,-71.06307
4                  364                    42.35173,-71.08685
...                ...                                   ...
4320                32                 42.339042,-71.0803574
4321               159                 42.339042,-71.0803574
4322               158                 42.339042,-71.0803574
4323                46  42.34583822057535,-71.06497242755782
4324               365                    42.34321,-71.14698

[4325 rows x 9 columns]

In [12]:
df.to_csv('cleaned_listings.csv', index=False)